.Spinner {
	margin: 200px auto;
	width: 60px;
	height: 60px;
}

.SpinnerText {
	text-align: center;
	color: #80cbc4;
}

.Loader {

	position: relative;
	width: 60px;
	height: 60px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.Loader .Cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.Loader .Cube:before {
	content: '';
	position: absolute;
	border: 1px solid white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #80cbc4 ;
	-webkit-animation: foldCubeAngle 2.4s infinite linear both;
	animation: foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.Loader .Cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.Loader .Cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.Loader .Cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.Loader .Cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.Loader .Cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.Loader .Cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
			-webkit-transform: perspective(140px) rotateY(180deg);
			transform: perspective(140px) rotateY(180deg);
			opacity: 0;
		}
}

@keyframes foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
			-webkit-transform: perspective(140px) rotateY(180deg);
			transform: perspective(140px) rotateY(180deg);
			opacity: 0;
		}
}
