.TagItem {
	font-size: 1.1em;
	font-weight: 400;
	cursor: pointer;
	padding: 3px 0;
	color: #777777;
}

.TagItem {
	font-size: 1.1em;
	font-weight: 400;
	cursor: pointer;
	padding: 3px 0;
	color: #777777;
}

.TagItem:hover {
	color: #00897b !important;
}

.TagItem:hover .TagItemIcon {
	color: #00897b !important;
}

.TagItemActive {
	color: #00897b !important;
}

.TagItemIcon {
	font-size: .8em;
	color: #80cbc4 !important;
}

.TagItemActive .TagItemIcon {
	color: #00897b !important;
}
