.Title {
	padding: 0;
	margin: 0 0 5px;
}

.Link {
	font-size: 1.1em;
	color: #999999;
}

.Link:hover {
	font-size: 1.1em;
	color: #006064;
	text-decoration: none;
}

.IconLink {
	font-size: .9em;
	color: #adadad;
}

.Title:hover .IconLink {
	color: #006064;
}

.IconEdit {
	font-size: 1.2em;
	color: #adadad;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.BookmarksItem {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.IconDel {
	display: inline-block;
	font-size: 1.2em;
	color: #adadad;
	cursor: pointer;
}

.IconEdit:hover {
	color: #006064;
}

.IconDel:hover {
	color: #006064;
}

.TagBadge {
	 display: inline-block;
	 padding: 5px 6px 6px;
	 margin: 0 5px 10px 0;
	 font-size: .7em;
	 font-weight: 400;
	 background-color: #999999;
 }

.IconTag {
	font-size: .7em;
}

