.BookmarksEdit {
	padding: 20px 20px 20px 30px;
}

.BookmarksEdit h4 {
	margin: 0 0 20px;
	padding: 0;
}

.BookmarksEdit input {
	margin: 0;
}

.BookmarksEdit .EditBtn {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 5px 5px;
}

.TagBadge {
	display: inline-block;
	padding: 5px 6px 6px;
	margin: 0 5px 5px 0;
	font-size: .7em;
	font-weight: 400;
	background-color: #999999;
	cursor: pointer;
}

.TagBadge:hover {
	background-color: #00796b;
}

.IconTag {
	font-size: .7em;
}
