.SideDrawer {
	position: fixed;
	width: 280px;
	min-width: 220px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: -9px;
	z-index: 200;
	color: white;
	background-color: #006064;
	padding: 15px;
	box-sizing: border-box;
	transition: transform 0.3s ease-out;
}

.Brand {
	text-decoration: none !important;
	display: block;
	margin: auto;
	text-align: center;
	padding-top: .3125rem;
	padding-bottom: .9rem;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: inherit;
	white-space: nowrap;
	border-bottom: 1px solid #00796b;
}

.SideDrawer a {
	color: white;
}

.SideDrawerNav ul {
	display: block;
}

.SideDrawerNav ul {
	display: block;
}

.SideDrawerNav li {
	display: block;
	border-bottom: 1px solid #00796b;
}

.Open {
	transform: translateX(0);
}

.Close {
	transform: translateX(-100%);
}
