.NoteTitle {
	padding: 0;
	margin-bottom: 15px;
}

.NoteListWrap{
	position: relative;
	border: 1px solid rgba(0,0,0,.125);
}

.NoteListWrapTop {
	display: none;
	height: 20px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.99) 1%, rgba(255,255,255,0.71) 55%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.71) 55%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.99) 1%,rgba(255,255,255,0.71) 55%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.NoteListWrapBottom {
	display: none;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.71) 45%, rgba(255,255,255,0.99) 99%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.71) 45%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.71) 45%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.NoteListWrap:hover .NoteListWrapTop {
	display: block;
}

.NoteListWrap:hover .NoteListWrapBottom {
	display: block;
}

.NoteItem {
	position: relative;
	display: block;
	padding: 3rem 1.25rem .75rem;
	background-color: #fff;
}

.NoteTags {
	padding: .75rem 1.25rem;
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,.125);
}

.Icons {
	display: block;
	position: absolute;
	top: .75rem;
	right: 1.25rem
}

.IconEdit {
	font-size: 1.2em;
	color: #adadad;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
}

.IconDel {
	display: inline-block;
	font-size: 1.2em;
	margin-right: 5px;
	color: #adadad;
	cursor: pointer;
}

.IconReturn {
	display: inline-block;
	font-size: 1.2em;
	color: #adadad;
	cursor: pointer;
}

.IconEdit:hover {
	color: #006064;
}

.IconDel:hover {
	color: #006064;
}

.IconReturn:hover {
	color: #006064;
}

.TagBadge {
	display: inline-block;
	padding: 5px 6px 6px;
	margin: 0 5px 10px 0;
	font-size: .7em;
	font-weight: 400;
	background-color: #999999;
}

.IconTag {
	font-size: .7em;
}
