.RssAddNew {
	padding: 20px 20px 20px 30px;
}

.RssAddNew h4 {
	margin: 0 0 20px;
	padding: 0;
}

.RssAddNew input {
	margin: 0 0 10px;
}

.RssAddNew .SaveBtn {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 5px 5px;
}
