.FeedItem {
	font-size: 1.1em;
	font-weight: 400;
	cursor: pointer;
	padding: 3px 0;
	color: #777777;
}

.FeedItem:hover {
	color: #00897b !important;
}

.FeedItem:hover .feedItemIcon {
	color: #00897b !important;
}

.FeedItemActive {
	color: #00897b !important;
}

.FeedItemIcon {
	font-size: .8em;
	color: #80cbc4 !important;
}

.FeedItemActive .FeedItemIcon {
	color: #00897b !important;
}

.FeedItemWrap {
	position: relative;
}

.FeedItemWrap button {
	background-color: transparent
}

.FeedEditIcons {
	padding: 0 4px 2px;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 100;
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid #e4e4e4;
	border-radius: 6px;
}

.FeedItemWrap:hover .FeedEditIcons {
	display: block;
}

.FeedEditIcon {
	font-size: .9em;
	color: #80cbc4;
	margin: 0 2px;
}