.RssReader {
	padding: 30px 30px 50px;
	position: relative;
}
.Reload {
	cursor: pointer;
}

.ReloadIcon {
	font-size: .7em;
	color: #80cbc4;
}

.ReloadIcon:hover {
	color: #006064;
}

.RemoveBtnGroup button {
	margin: 0 5px;
}


